.hero__top{
    display: flex;
    justify-content: space-between;
    font-family: Montserrat;
    font-weight: 300;
    line-height: 91px;
}

.hero__top>h1{
    font-size: 75px;
    margin-left: 3%;
}

.hero__text__wrapper{
    width: 30%;
    margin: 3% 3% 2% 5%;
    line-height: 25px;
    font-size: larger;
    font-weight: 500;
}

.about__hero__img{
    width: 100%;
}

.about__gallery{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5% 0;;
}

.gallery__img{
    width:25%;
    background: #ebebeb;
    box-shadow:  20px 20px 60px #c8c8c8, -20px -20px 60px #ffffff;
    transition:transform 0.5s ease;
}

.gallery__img:hover{
    cursor: pointer;
    -webkit-transform:scale(1.45);
    transform:scale(1.45);
}
