.footer{
    background: linear-gradient(180deg, #2F2F2F 34.9%, #000000 100%);
    display: flex;
    width: 100%;
    color: #fff;
    padding: 5% 0;
}

.footer__start{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.footer__start>p{
    margin-left: 20%;
    font-weight: 300;
}

.footer__start>h1{
    font-family: Yellowtail;
    font-weight: 300;
    font-size: 75px;
    line-height: 91px;
    margin-left: 20%;
}

.form__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 45%;
}

.form__wrapper{
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 100%;
    margin-top: 10%;
}

input[type=text]{
    height: 25px;
    border-color: transparent;
    background-color: transparent;
    border-bottom: 1px solid #fff;
    outline: none;
}

.form__item{
    margin: 30px 0;
    margin-top:-5px;
    font-size: large;
    color: #fff;
}

.form__btn{
    width: 100%;
    height: 40px;
    background-color: #2F2F2F;
    color: #fff;
    border: none;
    font-size: larger;
}

.form__btn:hover{
    cursor: pointer;
}


.footer__end{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.end__container{
    display: flex;
    flex-direction: column;
    width: 55%;
    text-align: flex-start;
    padding: 5% 0;
    margin: auto auto;
    letter-spacing: 5px;
    font-size: .9rem;
}

.end__title{
    color: rgb(110, 122, 122);
    padding-bottom: 5px;
    font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
    .footer{
        flex-direction: column;
    }
    .end__container{
        width: 50%;
    }
}
@media screen and (max-width: 468px) {
    .form__container{
        width: 65%;
    }
    .end__container{
        width: 70%;
    }
}