.gallery{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.gallery__imgs{
    display: flex;
}

.main__img{
    width: 55vw;
    height: 70vh;
    margin: 0px 15px 15px 15px;
    background-repeat: round;
    object-fit: cover;
    object-position: center;
}

.album__assets__container{
    width: 40%;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .gallery__imgs{
        flex-direction: column;
        align-items: center;
    }
    .main__img{
        width: 90vw;
        height: 50vh;
        margin: 0px 0px;
    }
    .album__assets__container{
        width: 75%;
        margin: 15% 0;
    }
}
