.navbar{
    width: 100%;
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

.logo__container{
    padding: 0 5%;
}

.logo__img{
    width: 50px;
}

.nav__logo:hover{
    cursor: pointer;
}

.menuToggle__container{
    display: flex;
    padding: 0 5%;
}

.menuToggle__container.inactive{
    display: none;
}

.menuToggle__container:hover{
    cursor: pointer;
}

.toggle__icon__close:hover{
    cursor: pointer;
}

.toggle__icon{
    margin-top: -15px;
    margin-left: -10px;
}

.navlink__container{
    display: none;
    padding: 0 5%;
}

.navlink__container.active{
    display: flex;
}

.navlink__wrapper{
    display: flex;
    list-style: none;
}

.nav__link{
    padding: 0 20px;
    text-align: center;
    text-decoration: none;
    color: #000;
}

@media screen and (max-width: 468px) {
    .navlink__container{
        padding: 0 0;
    }
    .nav__link{
        padding: 0 15px;
    }
}
